@model IEnumerable<TestBokk1.Models.Book>

<p>
    @Html.ActionLink("Create New", "AddOrEdit", "Book")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfLastMove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Words)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerLoginID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarrierLoginID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Circulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receive)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfLastMove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Words)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerLoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarrierLoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Circulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receive)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "AddOrEdit", new { id = item.BookID }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
        </td>
    </tr>
}

</table>
