@model  IEnumerable<TestBokk1.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All  Info Books</title>
</head>
<body>

    @*This for now does nothing*@
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(i => i.Title)</th>
            <th>@Html.DisplayNameFor(i => i.Author)</th>

            <th>@Html.DisplayNameFor(model => model.OwnerLoginID)</th>
            <th>@Html.DisplayNameFor(model => model.CarrierLoginID)</th>

            <th>@Html.DisplayNameFor(model => model.BookStatus)</th>
            One Microsoft Way
            <th>@Html.DisplayNameFor(model => model.Circulation)</th>

            <th>@Html.DisplayNameFor(model => model.Sent)</th>
            <th>@Html.DisplayNameFor(model => model.Receive)</th>

            <th>@Html.DisplayNameFor(model => model.DateOfLastMove)</th>
            <th>@Html.DisplayNameFor(model => model.Words)</th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Title)</td>
                <td>@Html.DisplayFor(modelitem => item.Author)</td>

                <td>@Html.DisplayFor(modelitem => item.OwnerLoginID)</td>
                <td>@Html.DisplayFor(modelitem => item.CarrierLoginID)</td>

                <td>@Html.DisplayFor(modelitem => item.BookStatus)</td>                    
                <td>@Html.DisplayFor(modelitem => item.Circulation)</td>

                <td>@Html.DisplayFor(modelitem => item.Sent)</td>
                <td>@Html.DisplayFor(modelitem => item.Receive)</td> 
                
                <td>@Html.DisplayFor(modelitem => item.DateOfLastMove)</td>  
                <td>@Html.DisplayFor(modelitem => item.Words)</td>
                    

                    

                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                    @*Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Author })
                </td>
            </tr>
        }

    </table>
</body>
</html>